server {
    listen 443 ssl;
    server_name ${BACKEND_HOSTNAME};

    ssl_certificate /etc/letsencrypt/live/${BACKEND_HOSTNAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${BACKEND_HOSTNAME}/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location /api/ {
        proxy_pass http://api:4000;
    }

    location /apphandler/ {
        proxy_pass http://apphandler:5000;
    }
}