@import "variables";

@mixin form {
    margin: 40px auto;
    width: 40%;
    min-width: 600px;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 40px 20px;

    input {
        min-width: 0;
    }

    h1 {
        font-size: 25px;
        color: $primary;
    }

    .extra {
        color: $primary;
        font-size: 18px;
        transition: all 0.2s ease 0s;
        &:hover {
            color: $primaryHighlight;
        }
    }

    form {
        margin: 0 auto;
        width: 80%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;

        input {
            margin: 5px 0;
            padding: 15px 15px;
            font-size: 16px;
            outline: none;
            border: none;
            border-radius: 5px;
            background-color: #e5ecee;
            transition: all 0.2s ease 0s;
            &:hover {
                background-color: #dbe3e6;
            }
            &:focus {
                background-color: #d3dbdd;
            }
        }

        input[type="submit"] {
            margin: 30px 0;
            background-color: $accent;
            color: $backgroundColor;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: $accentHighlight;
            }
        }
    }

    textarea {
        resize: vertical;
        margin: 5px 0;
        padding: 15px;
        font-size: 16px;
        min-height: 40px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #e5ecee;
        transition: all 0.2s ease 0s;
        &:hover {
            background-color: #dbe3e6;
        }
        &:focus {
            background-color: #d3dbdd;
        }
    }

    .env {
        h2 {
            margin: 25px 0 0 0;
            color: $primary;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 10px;
            grid-column-gap: 15px;
            margin: 30px auto;
            font-size: 18px;

            span {
                font-weight: 600;
                color: $primary;
                padding: 15px;
                border-radius: 5px;
                background-color: #e5ecee;
                overflow: auto;
            }

            button {
                grid-column: 1 / -1;
                padding: 10px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                color: $backgroundColor;
                background-color: $accent;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: $accentHighlight;
                }
            }
        }

        .inputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 10px;
            grid-column-gap: 15px;
            margin: 40px auto;

            button {
                grid-column: 1 / -1;
                padding: 15px;
                margin: 5px 0;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 20px;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                color: $primary;
                background-color: $veryLight;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: $veryLightHighlight;
                }
            }
        }
    }

    @media screen and (max-width: $smallScreen) {
        min-width: auto;
        width: 80%;
        box-shadow: none;
    }
}
