// Primary colours
$primary: #444342;
$primaryHighlight: #302f2e;
$light: #bdbdbd;
$lightHighlight: #969696;
$veryLight: #e0e0e0;
$veryLightHighlight: #b9b9b9;

// Accent
$accent: #bb174e;
$accentHighlight: #aa053c;

// Background
$backgroundColor: white;
