// Primary colours
$primary: #31302f;
$primaryHighlight: #292827;
$light: #7a7a76;
$lightHighlight: #6d6d68;

// Accent
$accent: #bb174e;
$accentHighlight: #9c1542;

// Background
$backgroundColor: white;
