// Primary colours
$primary: #444342;
$primaryHighlight: #302f2e;
$light: #adadad;
$lightHighlight: #8a8a8a;
$veryLight: #e0e0e0;
$veryLightHighlight: #b9b9b9;
$dark: #313131;
$darkHighlight: #1f1f1f;

// Accent
$accent: #bb174e;
$accentHighlight: #aa053c;

// Background
$backgroundColor: white;

$smallScreen: 1000px;
