@import "variables";

.app {
    text-align: center;
    margin: 80px auto;
    width: 50%;

    .content {
        h1 {
            margin: 10px auto;
            color: $primaryHighlight;
            font-size: 60px;
        }

        h3 {
            margin: 0 auto;
            color: $primary;
            font-size: 35px;
        }

        p {
            color: $primary;
            font-size: 25px;
        }
    }

    .pricing {
        background-color: blue;
    }

    .wrapper {
        border-top: 2px solid $veryLight;
        margin: 80px auto;
        .extras {
            margin: 60px auto;
        }
    }
}
