@import "grid";
@import "variables";

.apps {
    margin: 0 auto;

    .description {
        width: 50%;
        margin: 100px auto 50px auto;
        text-align: center;

        h1 {
            color: $primaryHighlight;
        }

        h2 {
            color: $primary;
        }

        border-bottom: 2px solid $veryLight;
    }

    .grid {
        @include grid;
    }

    h3 {
        margin: 200px auto;
        text-align: center;
        font-size: 20px;
        color: $primary;
    }

    @media screen and (max-width: $smallScreen) {
        .description {
            width: 80%;
            margin: 50px auto 25px auto;

            h1 {
                word-wrap: break-word;
            }
        }

        h3 {
            margin: 125px auto;
        }
    }
}
