@import "variables";

.footer {
    padding: 50px 0px 150px 0;
    background-color: $veryLight;
    font-size: 16px;
    margin: 250px 0;
    text-align: center;

    .rows {
        display: flex;
        flex-direction: column;

        .links {
            margin: 10px auto;
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            color: $primary;
            transition: all 0.2s ease 0s;
            &:hover {
                color: $primaryHighlight;
            }
        }
    }

    @media screen and (max-width: $smallScreen) {
        .rows {
            .links {
                margin: 0 auto;
                flex-direction: column;

                & > * {
                    margin: 10px auto;
                }
            }
        }
    }
}
