@import "variables";

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Graphik, sans-serif;
    background-color: $backgroundColor;
}

* {
    text-decoration: none;
    color: inherit;
}

.textSuccess {
    font-size: 20px;
    font-weight: 600;
    color: rgb(35, 189, 35);
}

.textFail {
    font-size: 20px;
    font-weight: 600;
    color: rgb(209, 16, 16);
}
