@import "variables";

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Graphik, sans-serif;
    background-color: $backgroundColor;
}

* {
    text-decoration: none;
    color: inherit;
}
