@import "variables";

.home {
    margin: 0 auto;
    width: 60%;

    header {
        text-align: center;
        width: 60%;
        margin: 0 auto;

        h1 {
            font-size: 80px;
            color: $darkHighlight;
            margin: 100px 0 20px 0;

            span {
                color: $accentHighlight;
            }
        }

        h2 {
            margin: 0;
            font-size: 30px;
            color: $lightHighlight;
        }

        .buttons {
            width: 80%;
            display: flex;
            margin: 50px auto;
            justify-content: space-evenly;

            a {
                background-color: blue;
                padding: 15px 25px;
                font-size: 20px;
                border-radius: 5px;
                font-weight: 600;
                color: $backgroundColor;
                background-color: $accent;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: $accentHighlight;
                }
            }
        }
    }
}
