@import "variables";

.home {
    margin: 0 auto;
    width: 60%;

    header {
        text-align: center;
        width: 60%;
        margin: 0 auto;

        h1 {
            font-size: 80px;
            color: $darkHighlight;
            margin: 100px 0 20px 0;

            span {
                color: $accentHighlight;
            }
        }

        h2 {
            margin: 0;
            font-size: 30px;
            color: $lightHighlight;
        }

        .buttons {
            width: 80%;
            display: flex;
            margin: 50px auto;
            justify-content: space-evenly;

            a {
                background-color: blue;
                padding: 15px 25px;
                font-size: 20px;
                border-radius: 5px;
                font-weight: 600;
                color: $backgroundColor;
                background-color: $accent;
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: $accentHighlight;
                }
            }
        }
    }

    .content {
        margin: 300px auto;
        width: 80%;

        h1 {
            text-align: center;
            font-size: 70px;
            color: $primaryHighlight;

            span {
                color: $accentHighlight;
            }
        }

        .blocks {
            display: flex;
            justify-content: space-evenly;
            font-size: 20px;
            color: $primary;

            .block {
                margin: 0 20px;
            }
        }

        a {
            color: $accent;
            text-decoration: underline;
            font-weight: 600;
        }
    }

    @media screen and (max-width: $smallScreen) {
        text-align: center;
        width: 90%;

        header {
            width: 100%;

            .buttons {
                flex-direction: column;

                a {
                    margin: 20px auto;
                    width: 60%;
                }
            }
        }

        .content {
            width: 90%;

            .blocks {
                flex-direction: column;
            }
        }
    }
}
