server {
    listen 443 ssl;
    server_name ${FRONTEND_ADDRESS};

    ssl_certificate /etc/letsencrypt/live/${FRONTEND_ADDRESS}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${FRONTEND_ADDRESS}/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location /api/ {
        proxy_pass http://api:4000;
    }

    location /apphandler/ {
        proxy_pass http://apphandler:5000;
    }
}